
body {
    background: #ddd;
    font-family: sans-serif;
	text-align: center;
}

button {
  top: 300px;
    border: none;
    background: #aaa;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin: 2px;
}
